.my-glyph-margin-breakpoint {
  background: rgba(255, 77, 79, 0.9);
  width: 10px !important;
  height: 10px !important;
  border-radius: 999px;
  margin-left: 4px;
  margin-top: 3px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
}

.my-glyph-margin-breakpoint-disabled {
  background: rgba(0, 0, 0, 0.28);
  width: 10px !important;
  height: 10px !important;
  border-radius: 999px;
  margin-left: 4px;
  margin-top: 3px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.18);
}

.my-glyph-margin-breakpoint-hover {
  background: rgba(255, 77, 79, 0.22);
  width: 10px !important;
  height: 10px !important;
  border-radius: 999px;
  margin-left: 4px;
  margin-top: 3px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.18);
}

.my-glyph-margin-current {
  background: #1677ff;
  width: 14px !important;
  height: 14px !important;
  margin-left: 4px;
  margin-top: 3px;
  clip-path: polygon(0 0, 0 100%, 100% 50%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.22);
}

.my-glyph-margin-current-breakpoint {
  background: #1677ff;
  width: 14px !important;
  height: 14px !important;
  margin-left: 4px;
  margin-top: 3px;
  position: relative;
  clip-path: polygon(0 0, 0 100%, 100% 50%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.22);
}

.my-glyph-margin-current-breakpoint::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 4px;
  width: 6px;
  height: 6px;
  border-radius: 999px;
  background: rgba(255, 77, 79, 0.95);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
}

.my-glyph-margin-current-breakpoint-disabled {
  background: #1677ff;
  width: 14px !important;
  height: 14px !important;
  margin-left: 4px;
  margin-top: 3px;
  position: relative;
  clip-path: polygon(0 0, 0 100%, 100% 50%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.22);
}

.my-glyph-margin-current-breakpoint-disabled::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 4px;
  width: 6px;
  height: 6px;
  border-radius: 999px;
  background: rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.18);
}

.my-content-execution-line {
  background: rgba(255, 77, 79, 0.08);
}
