@use "sass:math";

@include ds-apply-themes();
@include ds-global-base();
@include ds-grid-background();

.my-glyph-margin-breakpoint {
  background: ds-var("color-error");
  width: 12px !important;
  height: 12px !important;
  border-radius: math.div(4px, 1px) * 1px;
  margin-left: 4px;
  box-shadow: 0 0 10px ds-var("color-error");
  border: 1px solid ds-var("color-border-strong");
}

.my-content-execution-line {
  background: ds-var("color-focus");
  border-top: 1px solid ds-var("color-border");
  border-bottom: 1px solid ds-var("color-border");
}

.my-glyph-margin-execution-line {
  background: ds-var("color-primary");
  width: 0px !important;
  border-left: 8px solid ds-var("color-primary");
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  height: 0px !important;
  margin-top: 4px;
  filter: drop-shadow(0 0 6px ds-var("color-primary"));
}

