@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.my-glyph-margin-breakpoint {
  background: rgba(255, 77, 79, 0.9);
  width: 10px !important;
  height: 10px !important;
  border-radius: 999px;
  margin-left: 4px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
}

.my-glyph-margin-breakpoint-hover {
  background: rgba(255, 77, 79, 0.22);
  width: 10px !important;
  height: 10px !important;
  border-radius: 999px;
  margin-left: 4px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.18);
}

.my-content-execution-line {
  background: rgba(255, 77, 79, 0.08);
}